# Environnements virtuels
venv/
.env/
.venv/
env/
ENV/
LoL/

# Caches et fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurations locales
*.env
.env.local
.env.*.local
.env.test
*.ini
*.cfg
*.toml

# Logs et fichiers temporaires
logs/
*.log
*.tmp
*.swp
*.swo
*.bak

# Fichiers générés par les IDE et éditeurs de texte
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Dossiers de build et de distribution
build/
dist/
*.egg-info/
.eggs/

# Caches et fichiers temporaires de Python
.pytest_cache/
.tox/
.coverage
coverage.xml
.hypothesis/
.cache/

# Fichiers liés aux tests
test-results/
nosetests.xml
coverage/
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/

# Docker
docker-compose.override.yml

# Clés et secrets sensibles
secrets.json
private.key
*.pem

# Frameworks spécifiques
# Flask/Django
instance/
*.sqlite3
db.sqlite3

# Next.js ou builds statiques
.next/
out/
.gitignore