# Fichiers et dossiers liés aux environnements virtuels
venv/
.env/
.venv/
LoL/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de configuration et de dépendances locales
*.en
.env.local
*.ini
*.cfg
*.toml
Pipfile
Pipfile.lock
poetry.lock

# Dossiers de logs et fichiers temporaires
logs/
*.log
*.tmp
*.swp
*.swo
*.bak

# Fichiers générés par les IDE et éditeurs de texte
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db
desktop.ini


# Caches et fichiers temporaires de Python
.pytest_cache/
.tox/
.coverage
coverage.xml
.hypothesis/
.cache/

# Fichiers liés aux tests
test-results/
nosetests.xml
coverage/
htmlcov/
