# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnements virtuels
venv/
.env

# Fichiers de configuration sensibles
*.env
secrets.json
config.yaml

# Fichiers journaux
*.log
logs/

# Éditeurs de texte
.vscode/
.idea/
*.swp

# Fichiers spécifiques à l'OS
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini

# Dépendances et bibliothèques
node_modules/
npm-debug.log
package-lock.json
yarn.lock

# Autres
*.bak
*.tmp
